---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Base.astro'
import CharactersByType from '../components/CharactersByType.astro'
import Filter from '../components/Filter.astro'

export async function getStaticPaths() {
  return [
    { params: { game: 'trouble-brewing' }, props: { title: 'Trouble Brewing' } },
    { params: { game: 'sects-and-violets' }, props: { title: 'Sects & Violets' } },
    { params: { game: 'bad-moon-rising' }, props: { title: 'Bad Moon Rising' } },
    { params: { game: 'nrb-homebrew' }, props: { title: "If You're Sullivan Then Who Am I?" } },
  ]
}

const { title } = Astro.props
const characters = await getCollection('characters', ({ data }) => data.game === title)
---

<Layout title={`${title} | Blood on the Clocktower`}>
  <h1>{title}</h1>
  <Filter />
  <CharactersByType characters={characters} />
</Layout>
