---
import Layout from '../layouts/Base.astro'
import CharactersBySet from '../components/CharactersBySet.astro'
import Filter from '../components/Filter.astro'
import { getCharacters } from '../lib/characters'

const characters = await getCharacters((character) => !character.data.homebrew)
---

<Layout title="Blood on the Clocktower">
  <h1>Blood on the Clocktower</h1>
  <Filter />
  <CharactersBySet characters={characters} />
</Layout>
