---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Base.astro'

const characters = await getCollection('characters')
---

<Layout title="Blood on the Clocktower">
  <h1>Blood on the Clocktower</h1>

  <dl>
    {
      characters.map((character) => (
        <>
          <dt>
            <a href={`/c/${character.slug}`}>{character.data.name}</a>
          </dt>
          <dd>{character.data.tagLine}</dd>
        </>
      ))
    }
  </dl>
</Layout>
