---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Base.astro'
import CharactersBySet from '../components/CharactersBySet.astro'

const characters = await getCollection('characters')
---

<Layout title="Blood on the Clocktower">
  <h1>Blood on the Clocktower</h1>
  <CharactersBySet characters={characters} />
</Layout>
