---
import type { CollectionEntry } from 'astro:content'

export type Props = {
  characters: CollectionEntry<'characters'>[]
}

const { characters } = Astro.props
---

<dl>
  {
    characters.map((character) => (
      <>
        <dt>
          <a href={`/c/${character.slug}`}>{character.data.name}</a>
        </dt>
        <dd class="tag-line">{character.data.tagLine}</dd>
      </>
    ))
  }
</dl>

<style>
  dd {
    margin-block-start: 0.25rem;
  }

  dd + dt {
    margin-block-start: 0.75rem;
  }

  .tag-line {
    font-style: italic;
  }
</style>
