---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Base.astro'

export async function getStaticPaths() {
  const characters = await getCollection('characters')
  return characters.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry: character } = Astro.props
const { Content } = await character.render()
---

<Layout title={`${character.data.name} | Blood on the Clocktower`}>
  <header>
    <h1>{character.data.name}</h1>
    <p class="tag-line">{character.data.tagLine}</p>
  </header>
  <Content />
  <footer>
    <p>
      <a href={character.data.source} target="_blank">Source</a>
    </p>
  </footer>
</Layout>

<style>
  .tag-line {
    font-style: italic;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
</style>
