---
import '../styles/main.css'

export type Props = {
  title: String
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark light" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/trouble-brewing">Trouble Brewing</a>
      <a href="/sects-and-violets">Sects & Violets</a>
      <a href="/bad-moon-rising">Bad Moon Rising</a>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  nav,
  main {
    margin-inline: auto;
    max-inline-size: 45rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-block-end: 4rem;
  }
</style>
