---
import Nav from '../components/Nav'
import '../styles/main.css'

export type Props = {
  title: String
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark light" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav>
      <Nav.Item href="/">Home</Nav.Item>
      <Nav.Item href="/trouble-brewing">Trouble Brewing</Nav.Item>
      <Nav.Item href="/sects-and-violets">Sects & Violets</Nav.Item>
      <Nav.Item href="/bad-moon-rising">Bad Moon Rising</Nav.Item>
      <Nav.Item href="/custom">Custom Script</Nav.Item>
    </Nav>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    max-inline-size: var(--page-max-inline-size);
    margin-inline: auto;
  }
</style>
