---

---

<nav><slot /></nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-inline-size: var(--page-max-inline-size);
    padding: 1rem;
    margin-block-end: 3rem;
    margin-inline: auto;
    overflow: auto;
  }
</style>
