---

---

<nav><slot /></nav>

<style>
  nav {
    margin-inline: auto;
    max-inline-size: var(--page-max-inline-size);
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-block-end: 4rem;
  }
</style>
